header {
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    background: black; /* Garante a cor correta */
    z-index: 1000;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 150px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a, .auth a {
    color: white;
    font-size: 1rem;
}