.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.caixa {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.btnpop {
  color: black;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-right: 10px;
}